@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        @if (TempData["FlashMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["FlashMessage"]
            </div>
        }
        <h1 class="text-center">My Todo List</h1>
        <hr />

        <a class="btn btn-primary btn-sm mb-3" asp-page="./Add">Create New</a>

        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Todos[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Todos[0].Task)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Todos[0].DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Todos[0].IsDone)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Todos != null && Model.Todos.Any())
                {
                    @foreach (var todo in Model.Todos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => todo.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => todo.Task)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => todo.DueDate)
                            </td>
                            <td>
                                @(todo.IsDone ? "Yes" : "No")
                                @* @Html.DisplayFor(modelItem => todo.IsDone) *@
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-page="./Add" asp-route-id="@todo.Id">Update</a>
                                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@todo.Id">Delete</a>
                            </td>
                        </tr>
                    }   }
                else
                {
                    <tr>
                        <td colspan="5">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="text-center">Welcome to Todo List</h1>
        <hr />
        <p class="text-center">Please <a href="/Account/Login">Login</a> to see your todo list</p>
    }
</div>
